h1,
h2 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

.new-member-form {
  margin: 2em 0 4em 0;
  text-align: center;
}

.member-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.member-item {
  padding: 0 25px;
  display: inline-block;
}
